<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>SAE</string>
		<key>ID</key>
		<integer>1</integer>
		<key>Rect1</key>
		<string>{42.382069,-71.120990}</string>
		<key>Rect2</key>
		<string>{42.382147,-71.121029}</string>
		<key>Rect3</key>
		<string>{42.382191,-71.120852}</string>
		<key>radius</key>
		<integer>9</integer>
		<key>midpoint</key>
		<string>{42.382131, -71.120928}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sig Chi</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Rect1</key>
		<string>{42.370639,-71.114082}</string>
		<key>Rect2</key>
		<string>{42.370751,-71.113953}</string>
		<key>Rect3</key>
		<string>{42.370786,-71.114013}</string>
		<key>radius</key>
		<real>9.5</real>
		<key>midpoint</key>
		<string>{42.370716,-71.114032}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Delphic</string>
		<key>ID</key>
		<integer>3</integer>
		<key>Rect1</key>
		<string>{42.372343,-71.117714}</string>
		<key>Rect2</key>
		<string>{42.372276,-71.117460}</string>
		<key>Rect3</key>
		<string>{42.372446,-71.117372}</string>
		<key>radius</key>
		<integer>16</integer>
		<key>midpoint</key>
		<string>{42.372397,-71.117535}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Owl</string>
		<key>ID</key>
		<integer>4</integer>
		<key>Rect1</key>
		<string>{42.371413,-71.118661}</string>
		<key>Rect2</key>
		<string>{42.371455,-71.118800}</string>
		<key>radius</key>
		<integer>18</integer>
		<key>Rect3</key>
		<string>{42.371671,-71.118665}</string>
		<key>midpoint</key>
		<string>{42.371517,-71.118622}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Spee</string>
		<key>ID</key>
		<integer>5</integer>
		<key>Rect1</key>
		<string>{42.371711,-71.118662}</string>
		<key>Rect2</key>
		<string>{42.371860,-71.118573}</string>
		<key>Rect3</key>
		<string>{42.371809,-71.118414}</string>
		<key>radius</key>
		<integer>14</integer>
		<key>midpoint</key>
		<string>{42.371771,-71.118570}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Phoenix PSK</string>
		<key>ID</key>
		<integer>6</integer>
		<key>Rect1</key>
		<string>{42.371625,-71.118306}</string>
		<key>Rect2</key>
		<string>{42.371687,-71.118473}</string>
		<key>Rect3</key>
		<string>{42.371805,-71.118401}</string>
		<key>radius</key>
		<real>15.4</real>
		<key>midpoint</key>
		<string>{42.371673,-71.118325}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>A.D.</string>
		<key>ID</key>
		<integer>7</integer>
		<key>Rect1</key>
		<string>{42.372397,-71.119975}</string>
		<key>Rect2</key>
		<string>{42.372231,-71.120125}</string>
		<key>Rect3</key>
		<string>{42.372284,-71.120233}</string>
		<key>radius</key>
		<integer>7</integer>
		<key>midpoint</key>
		<string>{42.372506,-71.116639}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fly</string>
		<key>ID</key>
		<integer>8</integer>
		<key>Rect1</key>
		<string>{42.371507,-71.117630}</string>
		<key>Rect2</key>
		<string>{42.371587,-71.117845}</string>
		<key>Rect3</key>
		<string>{42.371367,-71.117983}</string>
		<key>radius</key>
		<integer>17</integer>
		<key>midpoint</key>
		<string>{42.371440,-71.117823}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fox</string>
		<key>ID</key>
		<integer>9</integer>
		<key>Rect1</key>
		<string>{42.372474,-71.116727}</string>
		<key>Rect2</key>
		<string>{42.372559,-71.116683}</string>
		<key>Rect3</key>
		<string>{42.372522,-71.116540}</string>
		<key>radius</key>
		<integer>14</integer>
		<key>midpoint</key>
		<string>{42.372341,-71.120108}</string>
	</dict>
</array>
</plist>
